*{
  box-sizing: border-box;
}
body, div, p, a, label{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', 'sans-serif';
  background-color: #e0ddd7;
}

label{
  display: block;
  position: relative;
  top: 10px;
  left: 10px;
  height: 375px;
  width: 630px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  cursor: pointer;
}

label:hover :checked + .card{
  -webkit-transform: rotateX(170deg);
  -moz-transform:    rotateX(170deg);
  -ms-transform:     rotateX(170deg);
  -o-transform:      rotateX(170deg);
  transform:         rotateX(170deg);
  border: 1px solid black;
  box-shadow: 0 -10px 20px -4px #121212;
}

label:hover .card{
  box-shadow: 0px 10px 20px -4px #121212;
  -webkit-transform: rotateX(10deg);
  -moz-transform:    rotateX(10deg);
  -ms-transform:     rotateX(10deg);
  -o-transform:      rotateX(10deg);
  transform:         rotateX(10deg);
}

.card{  
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d; 
  -moz-transform-style:    preserve-3d; 
  -ms-transform-style:     preserve-3d; 
  -o-transform-style:      preserve-3d; 
  transform-style:         preserve-3d; 
  
  -webkit-transition:      all 0.5s ease-out;
  -moz-transition:         all 0.5s ease-out;
  -ms-transition:          all 0.5s ease-out;
  -o-transition:           all 0.5s ease-out;
  transition:              all 0.5s ease-out;
  
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -o-backface-visibility:      hidden;
  backface-visibility:         hidden;
}

.card > div{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px; 
  padding: 0 2rem; 
}

input[type="checkbox"]{
  display: none;
}

.card #front{
  background-image: url("../img/bg2.png");
  padding: 20px 30px;
  color: #fff;
}

.card #back{
  background-image: url("../img/redrocks.png");
  color: #0a0a0a;
  
  -webkit-transform: rotateX(180deg);
  -moz-transform:    rotateX(180deg);
  -ms-transform:     rotateX(180deg);
  -o-transform:      rotateX(180deg);
  transform:         rotateX(180deg);
}

input:checked + .card{
  -webkit-transform: rotateX(180deg);
  -moz-transform:    rotateX(180deg);
  -ms-transform:     rotateX(180deg);
  -o-transform:      rotateX(180deg);
  transform:         rotateX(180deg);
}

.name{
  font-size: 3rem;
  font-weight: 400;
}

.title{
  font-weight: 300;
  color: #cfcfcf;
}

#ico-flip{
  position: absolute;
  top: 20px;
  right: 35px;
}

#name-plate{
  position: absolute;
  bottom: 15px;
  left: 10px;
  background: #FFA753;
  padding: 3px 8px;
  border-radius: 3px;
}

#about-text{
  margin: 3rem 0 1rem 0;
  font-size: 1.1rem;
  color: #cecece;
}

.purple{
  color: #a263ef;
  margin-right: 2rem;
}

.flex-column{
  flex-direction: column;
}

#footer{
  display: flex;
  position: relative;
  top: 2rem;
}

#footer img{
  margin-right: 10px;
}

#social{
  margin-left: auto;
}
